Section01 리스트 기본

In [3]:
# 리스트는 정수, 문자열, 실수 등 서로 다른 데이터형도 하나로 묶을 수 있음
test_list = [87, 'test', 12.12]
print(test_list)

[87, 'test', 12.12]

In [46]:
numList = [num for num in range(1,6)]
print(numList)

[1, 2, 3, 4, 5]

In [4]:
# 항목(item) 또는 요소(element): 리스트를 이루는 원소로 쉼표로 구분된 자료 값
score_list = [87, 84, 67, 88, 94, 63]
print(score_list[0], score_list[3])

87 88

In [19]:
# 리스트 자체 삭제
aa = [10, 20, 40]
# aa = []
# print(aa) # []

# aa  = None
# print(aa) # 아무것도 안 나옴

# del(aa[0])
# print(aa) # 오류 발생

In [21]:
aa = []
for i in range(0,4):
    aa.append(0)
hap = 0

for i in range(0,4):
    aa[i] = int(input(str(i+1)+"번째 숫자: "))

### 기본 ###
# hap = aa[0] + aa[1] + aa[2] + aa[3]

### for문 ###
# for i in range(0,4):
#     hap += aa[i]

### while문 ###
i = 3
while(i>=0):
    hap += aa[i]
    i -= 1

print("합계 ==> %d"%hap)

합계 ==> 100

In [1]:
#리스트 기본
aa = []
bb = []
value = 0

for i in range(0,100):
    aa.append(value)
    value+=2
    
for i in range(0,100):
    bb.append(aa[99 -i])

print("bb[0]에는 %d이, bb[99]에는 %d이 입력됩니다."%(bb[0],bb[99]))

#append(), pop(), sort(), reverse(), index(), insert(),remove(), extend(), count(), clear(), del(),
#len(), copy(), sorted()

bb[0]에는 198이, bb[99]에는 0이 입력됩니다.

In [3]:
#음수 값 접근
aa = [10, 20, 30, 40]
print("aa[-1]은 %d, aa[-2]는 %d"% (aa[-1], aa[-2]))

aa[-1]은 40, aa[-2]는 30

In [4]:
#리스트끼리 덧셈, 곱셈 연산
aa = [10, 20, 30]
bb = [40, 50, 60]
print(f"aa + bb = {aa + bb}")
print(f"aa * 3 = {aa * 3}")

aa + bb = [10, 20, 30, 40, 50, 60]
aa * 3 = [10, 20, 30, 10, 20, 30, 10, 20, 30]

In [6]:
#슬라이싱 지정
aa = [10, 20, 30, 40]
print(aa[2:])
print(aa[:2])
print(aa[0:3])
print(aa[2:4])

[30, 40]
[10, 20]
[10, 20, 30]
[30, 40]

In [9]:
#리스트 항목 건너뛰며 추출
aa = [10, 20, 30, 40, 50, 60, 70]
print(aa[::2])
print(aa[::-2])
print(aa[::-1])

[10, 30, 50, 70]
[70, 50, 30, 10]
[70, 60, 50, 40, 30, 20, 10]

In [15]:
#리스트 값 변경
aa = [10, 20, 30]
aa[1:2] = [200, 201] #a[1]
print(aa)

#두 번째 aa[1]의 항목 삭제
del(aa[1])
print(aa)
#첫 번째 빼고 a[2]까지 삭제
aa[1:3] = []
print(aa)

[10, 200, 201, 30]
[10, 201, 30]
[10]

In [16]:
#append()와 extend() 차이
list1 = [1,2,3,4,5]
list1.append([6, 7])
print(f"list1.append: {list1}")

list2 = [1,2,3,4,5]
list2.extend([6,7])
print(f"list2.extend: {list2}")

list.append: [1, 2, 3, 4, 5, [6, 7]]
list2.extend: [1, 2, 3, 4, 5, 6, 7]

In [1]:
# 기존 리스트는 변경하지 않고 정렬된 새로운 리스트 생성
myList = [30,20,10,77,88,0]
newList = sorted(myList)
print(newList)

[0, 10, 20, 30, 77, 88]

In [4]:
# range()나 문자열을 이용하여 리스트 만들기
list1 = list() # 빈 리스트 생성1
list2 = [] # 빈 리스트 생성2
list3 = list((1,2,3)) # 튜플로부터 리스트 생성
print(list3)
list4 = list(range(1,10))
print(list4)
list5 = list('ABCDEEF') # 문자열로부터 리스트 생성
print(list5)

[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['A', 'B', 'C', 'D', 'E', 'E', 'F']

In [8]:
# 1부터 10까지의 숫자 중에서 짝수를 요소로 가지는 even_list라는 리스트를 생성하여라(10을 포함).
# print() 함수를 사용하여 이 리스트를 다음과 같이 출력
even_list = [2,4,6,8,10]
print(even_list)

# range() 함수를 이용하여 1번의 문제 다시 풀기
even_list = list(range(2,11,2))
print(even_list)

# 'Korea', 'China', 'India', 'Nepal'의 네 원소를 가지는 netions라는 리스트를 생성하여라.
# print() 함수를 사용하여 이 리스트를 다음과 같이 출력
netions = ['Korea', 'China', 'India', 'Nepal']
print(netions)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
['Korea', 'China', 'India', 'Nepal']

In [12]:
# del 키워드로 삭제
n_list = [11,22,33,44,55,66]
del n_list[3]
print(n_list)

# remove 메서드로 삭제
n_list.remove(11)
print(n_list)

[11, 22, 33, 55, 66]
[22, 33, 55, 66]

In [13]:
# in, not in: 멤버 연산자는 참(True), 혹은 거짓(False)를 반환하는 연산자
n_list = [11,22,33,44,55,66]
if(55 in n_list):
    n_list.remove(55)
if(88 in n_list):
    n_list.remove(88)
print(n_list)

[11, 22, 33, 44, 66]

In [17]:
# 리스트 내장함수
# min(), max(), sum()과 같은 파이썬 내장함수의 인자로 리스트 넘겨 연산
# lin(): 리스트 내 항목의 개수 반환
list1 = [20, 10, 40, 50, 30]
print(min(list1))
print(max(list1))
print(sum(list1))

# 문자열이 들어있는 리스트 변수에도 min(), max()는 동작하나 sum은 동작하지 않음
fruits = ['banana', 'orange', 'apple', 'kiwi']
print(min(fruits))
print(max(fruits))
print()

10
50
150
apple
orange

> 2차원 리스트

> 튜플

In [ ]:
# 튜플)
# 여러 개의 요소(항목값)를 갖는 컬렉션 자료형
# 리스트와 달리 한 번 정해진 요소의 순서를 바꿀 수 없다
# 튜플 항목으로 조회 가능
# 튜플 내부의 객체를 변경하거나 삭제하는 것도 불가능함
# 튜플은 소괄호 ()로 생성
# 튜플은 값을 수정할 수 없으며, 읽기만 가능해 읽기 전용 자료를 저장할 때 사용
tuple0 = () # 빈 튜플 생성
tuple1 = (1,) # 하나의 요소를 가진 튜플 만들기, 반드시 쉼표를 사용해야함 주의
tuple2 = (1,2,3,4) # 기본적인 튜플 만들기
tuple3 = 1,2,3,4 # 간단한 방식의 튜플 만들기
n_list = [1,2,3,4]
tuple4 = tuple(n_list) # 리스트로부터 튜플 만들기

In [18]:
# 하나의 요소를가지는 튜플 선언 주의하기
tup = (100)
print(tup, type(tup))

tup_true = (100,)
print(tup_true, type(tup_true))

100 <class 'int'>
(100,) <class 'tuple'>

In [25]:
# 튜플 패킹과 언패킹

# 튜플 패킹(여러 데이터를 튜플로 묶는 것)
a = 1,2,3
print(type(a))

# 튜플 언패킹(튜플의 각 요소를 여러 개의 변수에 할당하는 것)
# 튜플 요소 수와 언패킹할 요소 수 일치
one, two, three = a

# 언패킹 이용한 변수 다중 할당
city, latitude, longitude = 'Seoul', 37.571, 126.986
print(city, latitude, longitude, type(city), type(latitude), type(longitude))

<class 'tuple'>
Seoul 37.571 126.986 <class 'str'> <class 'float'> <class 'float'>

In [27]:
# circle_area_and_circum.py
# 원의 면적과 둘레를 튜플 형식으로 변환하는 함수
def area_and_circum(radius): # 원의 면적과 둘레 구하기
    area = 3.14 * radius ** 2
    circum = 2 * 3.14 * radius
    return area, circum
r = 4
a, c = area_and_circum(r)
print('반지름 %d인 원의 면적과 둘레: %d, %d' %(r, a, c))

반지름 4인 원의 면적과 둘레: 50, 25